

body{
    font-family: georgia, times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;

}
h1{
    font-size: 2rem;
    line-height: 1.3em;
}
p{
    margin-bottom: 1.6em;
}

.cont{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}


header{
    background: #292929;
    height: 70px;
}
a{
    color: #fff;
    text-decoration: none;
}

#logo{
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
ul li{
    list-style-type: none;
}
#nav{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
#nav li{
    display: inline-block;
    margin: 10px;
}


* {
    padding: 0px;
    margin: 0px;
}

.img{
    width:90%;
}

#slider{
    width: 90%;
    margin: 3% auto;
    overflow: hidden;

}
#slider ul{
    list-style: none;
    width: 270%;
    display: flex;

    animation: slide 20s infinite alternate;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -90%;}
    45%{margin-left: -90%;}

    50%{margin-left: -180%;}
    75%{margin-left: -180%;}
}
.letras{
    margin: 20px;
    color: #acacac;
}
.redes{
    margin:20px;

}

#derecho{
    float: right;
    background-color: #f4f4f4;
    width: 70px
    height:100px;


    margin-right: 50px;
}
#contenedor{
    background: #fff;
    padding: 10px; 
    overflow: hidden;
}
#prin{
   
    color: #fff;
    width: 150px;
    margin-left: 40px;
    float: left;


}

#segu{
   padding: 10px;
    color: #606060;
    height: 130px;
    width: 450px;
    background-color: #f4f4f4;
    float: left;

}



.imagen{
    background: #f4f4f4;
    width: 150px; 
    height: 150px;
}




.der{
    background: #606060;
    padding: 1rem 0;
    text-align: center;
    margin-top: 16rem;   
    color: #fff; 
}


